<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">
        Find a pharmacy
      </h1>
      <p class="nhsuk-body-m">
        Find a pharmacy near you, or one that offers the services you need.

        <p class="nhsuk-body-m">
          You will need:
        </p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            Your postcode
          </li>
          <li>
            Information about the services you need
          </li>
        </ul>

        <h4 class="nhsuk-heading-s">Before you start</h4>
        <p class="nhsuk-body-m">
          You can only use this service if you are in England. If you are in Scotland, Wales or Northern Ireland, please contact your local NHS for help finding a pharmacy.  
        </p>

        <a class="nhsuk-button" href="/address">Start now</a>

    </div>
  </div>
{% endblock %}
